<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juan's CV</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "ProfileStyle.css" />
</head>
<body>
<div class="outer-left"; style="background-color: green">
        <h1>Juan Carlos Carlos Alberto</h1>
    <h2><b> One of the peacekeepers of the galaxy and a time traveller</b></h2>
    <!--have different inner color-->
        <div class="inner-left">
            <h3><strong>Work experience</strong></h3>
            <ul>
            <li>Defended Corusant from the Yuuzhan Vong</li>
            <li>Travelled back in time to stop people from making time travel paradoxes</li>
            <li>Fought with the Republic,Rebel Alliance, New Republic and the Resistance</li>
            </ul>

        </div>
        <div class="education">
            <h3><strong>Education</strong></h3>
            <ul>
            <li>Basics of flying a ship</li>
            <li>Basics of using a time travelling machine safely</li>
            <li>White hat hacking and cyber security</li>
            </ul>
        </div>
        <div class="languages">
            <h3> <strong/>Speaking and programming languages</strong></h3>
            <ul>
            <li>Mongolian</li>
            <li>English</li>
            <li>level 2 French</li>
            <li>C</li>
            <li>C++</li>
            <li>Java</li>
            <li>C++ SFML</li>
            <li>Java Swing</li>
            <li>Java FX</li>
            </ul>
        </div>
    <div class="hobbies">
        <h3> <strong/>Hobbies</strong></h3>
        <ul>
            <li>Building props</li>
            <li>Playing videogames</li>
            <li>Watching movies</li>
            <li>Trying to program games</li>
            <li>Sleeping</li>
            <li>Eating food</li>
            <li>Swimming</li>
            <li>table tennis</li>
            <li>-----------------------</li>
            <li>-----------------------</li>
            <li>-----------------------</li>
        </ul>
    </div>
    <div class="planets">
        <h4>planets travelled to</h4>
    <table>
        <tr>
            <th>planet names</th>
            <th>Suns</th>
            <th>Moons</th>
        </tr>
        <tr>
            <td>Coruscant</td>
            <td>1</td>
            <td>4</td>
        </tr>

        <tr>
            <td>Naboo</td>
            <td>1</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Tatooine</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>
</div>

    <div class="time">
        <h4> Places time travelled to</h4>
        <table>
            <tr>
                <th>locations</th>
                <th>Country</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>Coliseum</td>
                <td>Rome</td>
                <td>27 BCE</td>
            </tr>

            <tr>
                <td>Leonardo da Vinci's office</td>
                <td>Italy</td>
                <td>1490 AC</td>
            </tr>
            <tr>
                <td>Har Horin</td>
                <td>Mongolia</td>
                <td>1250 AC</td>
            </tr><br/>
        </table><br/>
    </div>

    <div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <p><b>Boss and commander: <q>The most talented pilot, time traveller and employee.</q></b></p>
    <p><b>Coworker and pilot: <q>The most generous, kind and hardworking coworker I've known.</q></b></p>
        <p><b>Old friend: <q>Has been a good person ever I knew him from when we where little.</q></b></p>
    </div>
</div>
<!--seperate the left and right sides-->
<div class="outer-right">
    <a href="https://www.youtube.com/watch?v=9ajkFR-Hwjc">
<img src="https://lumiere-a.akamaihd.net/v1/images/Coruscant_03db43b4.jpeg?region=0%2C0%2C1536%2C864&width=960;"width="460" height="300">
    </a>
    <a href="https://www.youtube.com/watch?v=zzHoWtI30NM">
    <img src="http://www.snoop-in-a-box.com/wordpress/wp-content/uploads/2015/10/delorean_time_jump_11_22_10.jpg"width="460" height="300">
    </a><br/>

    <a href="https://www.youtube.com/watch?v=ZZq53GloUhw">Archived footage from my Job</a><br/>

    <a href url="https://www.youtube.com/watch?v=HHRfCGiM6b4">The whole saga of my favorite movie Star Wars into one</a><br/>
        <a href url="https://www.youtube.com/watch?v=rgyitSlMtMY">One of my favorite movie scenes</a>
</div>
</body>
</html>