<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>
</head>
<body style="background-color:powderblue;">
    <h1 style="font-size: 55px; background-color: aqua">My First Heading</h1>
    <h2 style="color:blue;">My First Heading</h2>
    <h3 style="font-family:verdana;">My Third Heading</h3>
    <h4>My First Heading</h4>
    <h5>My First Heading</h5>
    <h6>My First Heading</h6>


    <!-- 6 header tags --!>
    <p> <b> My first paragraph.</b> </p>
    <p> <i> My second paragraph.</i> </p>
    <p> <strong> My third paragraph.</strong> </p>
    <p> <small> My fourth paragraph.</small> </p>
    <p> My<sub> subscript text </sub></p>
    <p> E <sup>mc </sup></p>

    <a href="https://www.naver.com">Visit our HTML tutorial</a>

    <img src="C:/Users/g12/Desktop/Michidmaa/pic_trulli.jpg" alt="Italian Trulli">

</body>
</html>

