*.class
/Juan/Week-5/Homework17092019/nbproject/private/
/Juan/Week-5/Homework17092019/build/
/Juan/Week-5/Homework17092019/dist/
/Juan/Week-5/buttonTest/nbproject/private/
/Juan/Week-5/buttonTest/build/
/Juan/Week-5/buttonTest/dist/