<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>
</head>
<body style="background-color:powderblue;">
<h1 style="font-size:55px; background-color:pink">My First Heading</h1>
<h2 style="color:blue;">My First Heading</h2>
<h3 style="font-family:verdana;">My First Heading</h3>
<h4>My First Heading</h4>
<h5>My First Heading</h5>
<h6>My First Heading</h6>

<!-- 6 header tags --!>
<p> <b> My first paragraph.</b> </p>
<p> <i> This is a paragraph.<i/> </p>
<p> <strong> This is the third paragraph.</strong> </p>
<p> <small> My fourth paragraph.<small/> </p>
<p> My <sub> fifth paragraph. </sub></p>
<p> <q> Hello. </q></p>
<a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>

<img src="test.jpeg" alt="Acrylic">
</body>
</html>
