<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>
</head>
<body style="background-color:yellow;">

<h1 style="font-size: 55px; background-color: green">poo</h1>
<h2 style="color:blue;">poop</h2>
<h3 style="font-family:verdana;">peee</h3>
<h4>poopoo</h4>
<h5>poo</h5>
<h6>peepoo</h6>


<p><b> My first paragraph </b></p>
<p><i>My second paragraph</i></p>
<p><strong>My third paragraph</strong></p>
<p><small>My fourth paragraph</small></p>
<p><sub>My fifth paragraph</sub></p>

<a href="https://www.youtube.com/watch?v=6vv2xMgmHdc"><strong>CLICK THIS LINK</strong></a>

<img src=https://i.redd.it/0foujbm292c21.png alt="ping">
</body>
</html>