<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Title</title>
</head>
<body style = "background-color:powderBlue;">

   <h1 style = "font-size: 55px; background-color: aqua">My First Meeting</h1>
   <h2 style = "color:blue;">My Second Meeting</h2>
   <h3 style = "font-family:verdana;">My Third Meeting</h3>
   <h4>My Fourth Meeting</h4>
   <h5>My Fifth Meeting</h5>
   <h6>My Sixth Meeting</h6>


   <!-- 6 header tags --!>


   <p><b>My first paragraph</b></p>
   <p> <i> My second paragraph </i> </p>
   <p> <strong>My third paragraph </strong></p>
   <p> <small>My fourth paragraph</small></p>
   <p>My<sub> subscript text</sub></p>
   <p>E<sup> mc</sup></p>

   <a href = "https://www.w3schools.com/html/default.asp" > Visit our HTML tutorial</a>
   <img src = "https://www.w3schools.com/html/pic_trulli.jpg">

</body>
</html>