<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hayeon Lee's Profile</title>
</head>
<body style = "background-color:powderBlue">
<img src = "https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fkellyhoey%2Ffiles%2F2018%2F08%2Fdesk-3139127_1920-1200x773.jpg" width = "400px"  height = "300px">
<a href = "https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fkellyhoey%2Ffiles%2F2018%2F08%2Fdesk-3139127_1920-1200x773.jpg" > Image source 1</a>
<h1 style = "font-family: Times New Roman"><q> Hayeon Lee </q></h1>

<!--This explains my experiences -->

<h2 style = "font-family: verdana; color:purple" >Experiences</h2>
<p>None</p>

<!--This explains my education -->
<img src = "https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1040138812%2F960x0.jpg%3Ffit%3Dscale" width = "400px"  height = "300px">
<a href = "https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1040138812%2F960x0.jpg%3Ffit%3Dscale" > Image source 2</a>
<h2 style = "font-family: verdana; color:blue">Education</h2>
<p>This is my 6th year studying at <b>American School of Ulaanbaatar(ASU)</b> and living at Ulaanbaatar, Mongolia.</p>
<p>I am a senior(12th grade).</p>

<!--This explains my languages -->

<h2 style = "font-family: verdana; color:green">Languages</h2>
<ol>
    <li>Korean</li>
    <li>English</li>
    <li>Chinese</li>
    <li>Japanese</li>
    <li><sub>French</sub></li>
</ol>



</body>
</html>