<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>My title</title>
</head>
<body style="background-color:powderblue;">
<h1 style="font-size: 55px; background-color: yellow">My First Heading</h1>
<h2 style="color:blue;">My Second Heading</h2>
<h3 style= "font-family: verdana;">My third Heading</h3>
<h4>My First Heading</h4>
<h5>My First Heading</h5>
<h6>My First Heading</h6>

<p> <b> My first paragraph. </b> </p>
<p> <i> My second paragraph. </i> </p>
<p> <strong> My third paragraph. </strong> </p>
<p> <small> My fourth paragraph. </small> </p>
<p> <sub> My subscript text </sub> </p>
<p> E <sup> mc </sup> </p>

<a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

</body>
</html>