<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Basic Dictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/fav.png" type="image/png"/>
    <style>
    #OverviewText4 {
    position: relative;
    }
    #OverviewText4 img {
    position: absolute;
    top: 5px;
    left: 5px;
    }
    body {
      background-color: turquoise !important;
      margin: 0;
      font-family: sans-serif;
    }

    .menu {
      overflow: hidden;
      background-color: orange;
    }

    .topnav a {

      float: left;
      color: black;
      text-align: center;
      margin-left: 450px;

      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
    }

    .topnav a:hover {
      background-color: ivory;
      color: black;
    }

    .topnav a.active {
      background-color: blue;
      color: white;
    }
    .logo{
      position: relative;
      top: 40px;
      left: 15px;
    }
    ul#hor li {
      display:inline;
    }
    .logo .q #hor{
      font-size: 150%;
      font-family: "Times New Roman", sans-serif;
    }
    b {
      border: 5px solid;
    }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body bgcolor="#3399ff">
<div id = "OverviewText4">
    <a href="/menu/menu">
        <img th:src="@{/img/logo.png}" width="5%" alt="memorynotfound logo"/>
    </a>
</div>
<div class="menu">
    <a href="/menu/menu">

    </a>
    <div class="topnav">
        <a id="home" href="/menu/quiz">Word Quiz</a>
        <a class="active" id = "dictionary"href="/menu/dictionary">Dictionary (50 words)</a>
    </div>
</div>
<h1></h1>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Car - Машин</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Window - Цонх</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Bike - Дугуй</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Pencil - Харандаа</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Pen - Үзэг</li>
            </b>
        </ul>
    </div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Door - Хаалга</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Key - Түлхүүр</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Backpack - Цүнх</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Wallet - Түрийвч</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Ticket - Тасалбар</li>
            </b>
        </ul>
    </div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Eyeglasses - Нүдний шил</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Kitchen - Гал тогой</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Pillow - Дэр</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Television - Зурагт</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Table - Ширээ</li>
            </b>
        </ul>
    </div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Chair - Сандал</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Bed - Ор</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Rug- Хивс</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Fridge - Хөргөгч</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Bus - Автобус</li>
            </b>
        </ul>
    </div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Road - Зам</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Airport - Нисэх буудал</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Shop - Дэлгүүр</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Dog - Нохой</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Cat - Муур</li>
            </b>
        </ul>
    </div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Cow - Үхэр</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Goat - Ямаа</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Sheep - Хонь</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Horse - Морь</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Camel - Тэмээ</li>
            </b>
        </ul>
    </div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Back - нуруу</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Ear - Чих</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Eye - Нүд</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Face - Нүүр</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Finger - Хуруу</li>
            </b>
        </ul>
</div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Leg - Хөл</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Hair - Үс</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Hand - Гар</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Head - Толгой</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Knee - Өвдөг</li>
            </b>
        </ul>
</div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Mouth - Ам</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Neck - Хүзүү</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Nose - Хамар</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Shoulders - Мөр</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Skin - Арьс</li>
            </b>
        </ul>
</div>
</div>
<div class="logo">
    <div class="q">
        <ul id="hor">
            <b>
                <li>Stomach - Гэдэс</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Teeth - Шүд</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Toes - Хөлийн хуруу</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Muscle - Булчин</li>
                <li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
                <li>Vein - судас</li>
            </b>
        </ul>
</div>
</div>
</body>
</html>