<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson 01</title>
</head>
<body style="background-color:powderblue;">
<h1 style="font-size: 55px; background-color: aqua" >My First Heading</h1>
<h2 style="color:blue;" >My second Heading</h2>
<h3 style="font-family:verdana;" >My third Heading</h3>
<p> <b> My First Paragraph </b> </p>
<p> <i> My second Paragraph </i> </p>
<p> <strong> My third Paragraph </strong> </p>
<p> <small> My fourth Paragraph </small> </p>
<p> <sub> My subscript text </sub></p>
<p> E <sup> MC </sup></p>

<p> <b> Click on image below for a special reward :) </b> </p>

<a href="https://www.youtube.com/watch?v=vTIIMJ9tUc8"> <img src="https://i.pinimg.com/originals/a6/c9/8d/a6c98dda4fa1c07f484360ad9256d0ce.jpg" alt="juice"> </a>



</body>
</html>