<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p.hi
        {
            border-style: solid;
        }
    </style>
    <meta charset="UTF-8">
    <title>My Title</title>
</head>
<body style = "background-color: turquoise;">
<h1 style = "font-size: 70px; background-color: purple;">My First Heading</h1>
<h2 style = "color:pink;">My First Heading</h2>
<h3 styoe = "font-family: verdana;">My First Heading</h3>
<h4>My First Heading</h4>
<h5>My First Heading</h5>
<h6>My First Heading</h6>

<p class = "hi">Hello Mr. Carl the Invoker</p>
<p> <b> My first paragraph. </b> </p>
<p> <i> My second paragraph. </i> </p>
<p> <strong> My third paragraph. </strong> </p>
<p> <small> My fourth paragraph.</small> </p>
<p> My <sub> subscript text</sub></p>
<p> E <sup> mc</sup>


    <a href="https://www.youtube.com/watch?v=QHHgfXX-Db0">Visit our HTML tutorial</a>
    <img src = "C://Users//G12//Desktop//troll.jpg" alt = "Troll Face">

</body>
</html>