<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    h1.title
    {
        font-size: 40px;
        color:blue;
    }
    h2.title2
    {
        border-style: solid;
    }
    </style>
    <meta charset="UTF-8">
    <title>Bilguundalai's CV Profile</title>
</head>
<body>
<!-- This is my header 1 -->
<h1 class = "title">Bilguundalai</h1>
<h2 class = "title2">A Professional White Hat Hacker</h2>
<p class = "hee"> <i>Here is a list of all my favorite websites/videos to show my personality</i></p>

    <a href="https://www.youtube.com/watch?v=QHHgfXX-Db0">My favorite song</a>
    <a href="https://www.youtube.com/channel/UCnQC_G5Xsjhp9fEJKuIcrSw">Funny guy</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Funny video</a>
    <a href="https://www.w3schools.com/html/default.asp">Visit this nice html tutorial</a>
    <a href="https://www.youtube.com/watch?v=hKTaf-zE-Ng">I like this video because I am good man</a>


</body>
</html>