<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

body {
  margin: 0;
  font-family: Arial;
  background-color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
    margin-left: 300px;
    margin-right: 300px;
    line-height:1.5;
}
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/value/index">Value Creation</a>
    <a href="/marketing/index">Marketing</a>
    <a href="/finance/index">Finance</a>
</div>

<div class = "content">
    <h2>Finance</h2>
    <p>Finance means the management of large amounts of money, especially by governments and large companies. It also means all the records of money including income, spent, rent in all people, companies, and governments, etc.</p>
    <p>There are three main types:</p>
    <ol>
        <li>Personal finance</li>
        <li>Corporate finance</li>
        <li>Public / Government finance</li>
    </ol>
    <h3>Personal Finance</h3>
    <p>Personal finance is the finance system that requires management in people’s personal activities related to money such as: investing their savings to some companies’ stocks.</p>
</div>

</body>
</html>