<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

body {
  margin: 0;
  font-family: Arial;
  background-color: white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
    margin-left: 300px;
    margin-right: 300px;
    line-height:1.5;
}
</style>
</head>
<body>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/value/index">Value Creation</a>
    <a href="/marketing/index">Marketing</a>
    <a href="/finance/index">Finance</a>
</div>

<div class = "content">
    <h2>Marketing</h2>
    <h3>What is Marketing?</h3>
    <p>Marketing consists of activities conducted with the aim of promoting and advertising a company’s product or service. Expertises in the marketing sector strive to attract the attention of  key audiences by promotions and advertisements. Marketing advertisements may utilize endorsements, slogans, media exposure and graphic designs.</p>
    <p>The core incentive of marketing is to create a relationship between the company and their customers. This relationship serves as a tool to enhance profitability through coordinating a consumer to their preferred product or service. Networking with potential customers is an important element of marketing as it allows the company to “stay in touch” with the customer. Examples of networking might include: thank you emails, promotional deals, replying to emails or calls etc.</p>

    <h3>Inside Marketing</h3>
    <p>The 4 Ps of marketing make up the essential factors required for the implementation of marketing in any business. The idea of the Four Ps were first initiated by American academic, Neil Borden in the 1950’s. </p>

    <h2>The Four Ps Structure</h2>
    <h3>Product -</h3>
    <p>Product is defined as any tangible item offered by businesses to customers.  Products are ultimately produced to enhance and fulfill consumer demand. Prior to any promotional activities, it is crucial for businesses to understand the full functionality of their product and how it stands out from other existing products.</p>

    <h3>Price -</h3>
    <p>Price is the value companies offer in exchange for their product, Pricing decisions should consider production and distribution price in relation to the price of competing products in the industry. Companies should take note of the affordability of their products when introduced to potential customers. Price decisions will determine supply, demand, and overall marketing strategy.</p>

    <h3>Place -</h3>
    <p>Place is how the product is distributed to consumers. This may include the location of the selling point and the delivery of the product. The core objective of business owners is locating products where it will bring the maximum profit (consumers).
    </p>

    <h3>Promotion -</h3>
    <p>The last ‘P’ is what comes after all the decisions making up a product is ready and can be advertised to customers. Promotions may include activities such as special offers, promotion deals, advertising and more. Promotion falls under the communication section of marketing as a whole.
    </p>
</div>

</body>
</html>