<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Title</title>

</head>
<body style="background-color:powderblue;">
<h1 style="font-size:58px">My First Heading</h1>
<h2 style="color:blue;">My Second Heading</h2>
<h3 style="font-family:verdana;">My Third Heading</h3>
<h4>My Fourth Heading</h4>
<h5>My Fifth Heading</h5>
<h5>My Sixth Heading</h5>

<!-- 6 header tags --!>
<p> <b> My first paragraph.</b> </p>
<p> <i> My Second paragraph. </i> </p>
<p> <strong> My third paragraph.</strong> </p>
<p> <small> My fourth paragraph. </small> </p>
<p> My <sub> subscript text </sub></p>
<p> E <sup>mc </sup></p>

<a href="https://ikon.mn">Visit our HTML Link</a>

<img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjT8Ifgl4TmAhUMFYgKHVdTChcQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F600034350333785740%2F&psig=AOvVaw1sWm7mWoxy5EL4MfBNXHBL&ust=1574730860908226" alt="Dog">
</body>
</html>