<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV S.Anudari</title>

</head>
<body style="background-color:#C1C8E4;">
<h1 style="background-color: #84CEEB; font-size:35px; color: black; font-family: candara; color: darkblue; text-align: center;"> Anudari Sukhbat CV profile</h1>
<h1 style="font-size:35px; color:darkblue; font-family: candara; text-align: center;"> <b> Experiences </b> </h1>

<pre style="font-family:candara; text-align:center">
    Intern at Zorig Foundation
    Marketing Manager for Sad Lemon
    PR and Marketing head for Book Drive 2016
    PR and Marketing Manager for the Once on this Island Musical
    PR Manager for the National Honor Society 2019-2020
    Student President for the National Art Honor Society 2017-2020
</pre>
<h1 style="font-size:35px; color:darkblue; font-family: candara; text-align: center;"> <b> Education </b> </h1>
<p style="font-family:candara; text-align:center"> American School of Ulaanbaatar: 2007-2020 </p>
<h1 style="font-size:35px; color:darkblue; font-family: candara; text-align: center;"> <b> Awards </b> </h1>
<!-- This is a paragraph using the pre method -->
<pre style="font-family:candara; text-align:center">
   Student of the Month
    Best Creativity Award
    Harvard Model United Nations Participation Award
    Ulaanbaatar Model United Nations Participation Award
    Elite Model United Nations Participation + Best Delegate Award
    Hippo English Competition Award
    Waterloo Math Competition Participation
    AP Studio Art Excellence Award
</pre>
<!-- The text is aligned in poem format -->

<p style=" font-size: 25px; background-color: white; font-family:courtier; text-align:center; color: purple;"> <q> <i> <b> The only source of Knowledge is Experiences. - Albert Einstein  </b> </i> </q></p>
<h1 style="font-size:35px; color:darkblue; font-family: candara; text-align: center;"> <b> Favorite Songs of All Time</b> </h1>
<pre style="font-family:candara; text-align:center; color:blue;">
    <a href="https://www.youtube.com/watch?v=CvFH_6DNRCY">Clair de Lune</a>
    <a href="https://www.youtube.com/watch?v=L9l8zCOwEII">Sofia</a>
<a href="https://www.youtube.com/watch?v=hBFl9h-G8Cg">The Less I Know Better</a>
<a href="https://www.youtube.com/watch?v=uQcQsIL5UNU">Roxxane</a>
    <a href="https://www.youtube.com/watch?v=eYDI8b5Nn5s">ButterCup</a>
</pre>
<h1 style="font-size:35px; color:darkblue; font-family: candara; text-align: center;"> <b> Hobbies and Skills</b> </h1>
<p style="font-family:candara; text-align:center; color:blue;">
<img src = "https://cdn0.iconfinder.com/data/icons/hotel-vacation-long-shadow-flat/33/chef-512.png" width = "300px" height = "300px">
</p>
<p style="font-family:candara; text-align:center; color:blue;">
    <img src = "https://c7.uihere.com/files/520/89/181/computer-icons-keynote-public-speaking-presentation-speaking.jpg" width = "400px" height = "300px">
</p>

<html>
<head>
    <style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2>Skill table</h2>
<p>list for core skills.</p>

<table style="width:20%">
    <tr>
        <th> <center>Core Skills</center>></th>

    </tr>
    <tr>
        <td>Determination</td>

    </tr>
    <tr>
        <td>Passion</td>

    </tr>
    <tr>
        <td>Organization</td>

    </tr>
</table>

</body>
</html>

<html>
<head>
    <style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2>Skill table</h2>
<p>list for achievements.</p>

<table style="width:20%">
    <tr>
        <th> <center>achievements</center>></th>

    </tr>
    <tr>
        <td>NAHS</td>

    </tr>
    <tr>
        <td>NHS</td>

    </tr>
    <tr>
        <td>Yearbook</td>

    </tr>
</table>

</body>
</html>


<h2>Interships</h2>

<ul>
    <li>Zeloo Foundation</li>
    <li>Zorig Foundation</li>

</ul>


<h2>Awards</h2>

<ul>
    <li>Best Delegate - ESMUN</li>
    <li>Participation - HMUN</li>

</ul>

<h2>Languages</h2>

<ul>
    <li>Mongolian</li>
    <li>English</li>
    <li>French</li>


</ul>

<div style="border: 1px solid black">Birthplace : Ulaanbaatar, Mongolia </div>
<div style="border: 1px solid black">Name : Anudari Sukhbat </div>
<div style="border: 1px solid black">Education: ASU secondary highschool</div>
<div style="border: 1px solid black">Birth date: 2002/11/11 </div>
<div style="border: 1px solid black">Siblings: 3 </div>
<div style="border: 1px solid black">Nickname: Anu, Rai </div>





</body>
</html>