<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="font-size: 40px; background-color: grey">Heading</h1>
<h2 style="color:pink;">My Second Heading</h2>

<p> <i> <b> My first paragraph. </b> </i> </p>
<p> <i> My second paragraph. </i> </p>
<p> <i> My third paragraph. </i> </p>
<p> <strong> My fourth paragraph. </strong> </p>
<!-- Add quotation here -->
<p>Quotation: <q>Create the highest, grandest vision possible for your life, because you become what you believe.</q></p>
<!-- Comments -->

<p> <a href="http://edlester.com/17-short-positive-quotes-will-brighten-day/">Quotes</a> </p>
<p><a href="https://www.google.com/">Google</a></p>
<p><a href="https://www.w3schools.com/html/html_links.asp">Visit our HTML tutorial</a></p>
<p><a href="https://www.brainyquote.com/quote_of_the_day">Quotations</a></p>
<p><a href="https://www.goodhousekeeping.com/health/wellness/g2401/inspirational-quotes/">Positive Quotes</a></p>


<p> <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/04/15/16/china-coffee-cup.jpg?w968h681" alt="Coffee" width="500" height="333"> </p>
<p> <img src="https://specials-images.forbesimg.com/imageserve/1152308114/960x0.jpg?fit=scale" alt="Coffee Beans" width="500" height="333"> </p>
<div style="background-color:pink;color:white;">
<table style="width:100%">
    <tr>
        <th>Date of Birth</th>
        <th>Height</th>
        <th>Year of Birth</th>
    </tr>
    <tr>
        <td>06.25.2002</td>
        <td>5ft. 4</td>
        <td>2002</td>
    </tr>
    <tr>
        <td>09.15.1997</td>
        <td>6ft. 2</td>
        <td>1997</td>
    </tr>
</table>

<table style="width:100%">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Hannah</td>
        <td>Cho</td>
        <td>17</td>
    </tr>
    <tr>
        <td>Tom</td>
        <td>Mill</td>
        <td>24</td>
    </tr>
</table>
</div>

<div style="background-color:grey;color:white;">
<h4> Favorite Drinks</h4>
<ul>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Water</li>
</ul>
</div>

<div style="background-color:black;color:white;">
<h4> Favorite Foods</h4>
<ul>
    <li>Sushi</li>
    <li>Pasta</li>
    <li>Hamburgers</li>
</ul>
</div>

<div style="background-color:pink;color:white;">
<h4> Favorite Colors</h4>
<ul>
    <li>Light Blue</li>
    <li>White</li>
    <li>Grey</li>
</ul>
</div>


</body>
</html>